@charset "UTF-8";
/* CSS Document */

body {
font-family: ;
color: #665544;
padding: 0px;
  background-color: #fffbef;
}

.caption {
	margin-top: 0px;
}

p {
width: 300px;
padding: 50px;
border: 40px solid #0088dd;}

* .page {
border: 0px solid #fffbef;
background-color: #fffbef;
padding: inherit;}

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 60pt;
	border-width: 30px;
	text-align: left;
	color:#ff493f}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 40pt;
	border-width: 5px;
	text-align: center;
	color:#E62629}

h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20pt;
	border-width: 5px;
	text-align: center;
	color:#E62629}

a {text-decoration: none
}
